
.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.box{
    background:white;
    padding:40px;
    text-align:center;
    border-radius:20px;
    box-shadow:0 10px 20px rgba(0,0,0,.1);
}

.box h3{
    color:#4f46e5;
    font-size:35px;
}