*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f8fafc;
    color:#0f172a;
}

section{
    padding:100px 10%;
}

h1,h2,h3{
    margin-bottom:20px;
}

.btn{
    border:none;
    background:#4f46e5;
    color:white;
    padding:14px 30px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-5px);
}