
.testimonial{
padding:100px 10%;
background:#f8fafc;
text-align:center;
}

.testimonial-heading h2{
font-size:42px;
margin-bottom:15px;
}

.testimonial-heading p{
color:#64748b;
max-width:650px;
margin:auto;
margin-bottom:60px;
}

.testimonial-slider{
position:relative;
max-width:800px;
margin:auto;
}

.slides{
position:relative;
min-height:320px;
}

.testimonial-card{
position:absolute;
width:100%;
background:white;
padding:50px;
border-radius:25px;
box-shadow:0 15px 40px rgba(0,0,0,.08);
opacity:0;
transform:translateX(60px);
transition:.7s;
}

.testimonial-card.active{
opacity:1;
transform:translateX(0);
}

.quote{
font-size:40px;
color:#4f46e5;
margin-bottom:25px;
}

.testimonial-card p{
font-size:18px;
line-height:32px;
color:#334155;
margin-bottom:35px;
}

.user{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
}

.user img{
width:70px;
height:70px;
border-radius:50%;
object-fit:cover;
}

.user h4{
margin-bottom:5px;
}

.user span{
color:#64748b;
}

.dots{
display:flex;
justify-content:center;
gap:12px;
margin-top:40px;
}

.dot{
width:14px;
height:14px;
border-radius:50%;
background:#cbd5e1;
cursor:pointer;
transition:.3s;
}

.dot.active{
background:#4f46e5;
transform:scale(1.3);
}
